<header class="main-header">
  <div class="item-menu menu">
    <div class="menu-content" (click)="openMenu.emit(false)">
      <img src="../../../../assets/icons/sand.png" alt="sanduich menu">
      <p>Menu</p>
    </div>
  </div>
  <!-- ICONE -->
  <div class="item-menu header-container">
    <div class="item item-search">
      <img src="../../../../assets/icons/search.png" alt="search icon">
      <input type="text" placeholder="Type in to Search">
    </div>
    <div class="item header-cicle">
      <img src="../../../../assets/icons/bolls.png" alt="">
    </div>
    <div class="item header-user">
      <img src="../../../../assets/icons/sino.png" alt="Sino User">
      <img src="../../../../assets/icons/rafael.jpg" alt="user">
      <p>Rafael Carvalho</p>
    </div>
  </div>
</header>
