.crm-container-login {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  .crm-ctm-thr {
    display: flex;
    .crm-cldr {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .crm-calend {
        width: 100%;
        height: 20%;
        margin: 1% 0;
        display: flex;
        justify-content: center;
      }
      .crm-list-cards {
        width: 100%;
        height: 320px;
        background-color: rgb(241, 239, 239);
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 10px;
        border-radius: 4px;
        .crm-card {
          margin: 0 5px;
        }
      }
      .crm-idm {
        margin-top: 1%;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-between;
        .crm-grp {
          margin-left: 20px;
          width: 380px;
          box-shadow: 3px 2px 5px 1px rgb(151, 149, 149);
          border-radius: 5px;
        }
        .crm-dl {
          display: flex;
          justify-content: center;
          width: auto;
          height: 50px;
        }
        form {
          display: flex;
          justify-content: center;
          width: 380px;
        }
      }
    }
  }
}
.crm-ltr {
  width: 100%;
  height: 100vh;
  background-color: rgba(131, 130, 130, 0.226);
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  position: fixed;
  .mdn {
    width: 18%;
    height: 100vh;
    background-color: #FFF;
    overflow: hidden;
  }
}
