<!-- CARDS -->
<!-- <crm-cards
  [iconType]="card.iconTye"
  [cardValue]="card.cardValue"
  [cardCount]="card.countActions"
  [cardMensage]="card.information"
></crm-cards> -->
<!-- MENU LATERAL -->
<!-- <crm-menu-list
  [menuList]="list">
</crm-menu-list>
<crm-menu-list
  [menuList]="listSecundary"
  [title]="'Last Leads'"
  [btnTitle]="'Show More'">
</crm-menu-list>
<crm-menu-list
  [menuList]="listaDefault"
  [title]="'Last Clients'"
  [btnTitle]="'Show More'">
</crm-menu-list> -->

<crm-graphic-traffic></crm-graphic-traffic>
