<div class="gp">
  <div class="item">

  </div>
  <div class="item item-canvas">
      <canvas id="doughnut"></canvas>
  </div>
  <div class="item">
    <ul class="items-bolls">
      <li>
        <img src="../../../../assets/icons/boll-success.png" alt="success">
        <p>Mail</p>
        <p>5%</p>
      </li>
      <li>
        <img src="../../../../assets/icons/boll-primary.png" alt="primary">
        <p>Phone</p>
        <p>9%</p>
      </li>
    </ul>
    <ul class="items-bolls">
      <li>
        <img src="../../../../assets/icons/boll-danger.png" alt="danger">
        <p>Site</p>
        <p>22%</p>
      </li>
      <li>
        <img src="../../../../assets/icons/boll-warning.png" alt="warning">
        <p>API</p>
        <p>11.9%</p>
      </li>
    </ul>
  </div>
</div>

