@import '../../../../assets/theme/global.scss';

.menu {
  width: 100%;
  background-color: $white-secundary;
  border: 1px solid #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  .menu-title {
    font-size: 14px;
    font-weight: bold;
    color: $text-color-card-secundary;
    margin: 10px 0;
  }
  .menu-list {
    width: 100%;
    .menu-item {
      width: 100%;
      cursor: pointer;
      &:hover {
        background-color: #F0F0F0;
      }
      .menu-item-action {
        padding: 10px 20px;
        width: 100%;
        font-size: 13px;
        color: $text;
        white-space: nowrap;
        display: flex;
        align-items: center;
        img {
          margin-right: 20px;
          width: 16px;
          height: 16px;
          opacity: 1;
        }
        &.low {
          color: $icon-text-color-dashboard-primary;
        }
      }
    }
  }
  .btn-menu {
    width: 115px;
    height: 40px;
    margin: 10px 0;
    border-radius: 20px;
    border: 2px solid $border;
    color: $text-color-card-secundary;
    font-size: 12px;
    font-weight: normal;
    background-color: $white-secundary;
    cursor: pointer;
    &:hover {
      color: rgb(58, 57, 57);
      font-weight: bold;
      border: 2px solid rgb(185, 183, 183);
    }
  }
}
