$white: #FFFFFF;
$white-secundary: #FAFAFA;
$border: #F0F0F0;
$body-griphic-success: #54D36A;
$body-griphic-danger: #E74B3B;
$bolls-success: #2CCD6F;
$bolls-danger: #E74D3D;
$black: #000000;
$bolls-traffic-source-danger: #E94C3D;
$line-hr: #F5F5F5;
$line-griphics-success: #2BCC71;
$line-contact: #01CAFF;
$line-offer-made: #F39B13;
$line-negotiation: #9A59B5;
$line-contract: #FE004E;
$line-won: #2CCC70;
$text: #808080;
$text-secundary: #B3B3B3;
$tooltip-primary: #5A51DE;
$text-color-traffic-source: #B9B9B9;
$text-color-cards: #00DE51;
$text-color-card-secundary: #999999;
$text-color-card-danger: #FD0F17;
$border-calendary: #EBEBEB;
$icon-cards: #D9D9D9;
$icon-color-dashboard: #CBCBCB;
$icon-text-color-dashboard-primary: #0178FF;
$icon-color-last-clients: #CCCCCC;
$icon-color-navbar: #D8D8D8;
