<div class="drop-container" [ngClass]="{'dp': arrow}" (click)="arrow = !arrow">{{model}}</div>
<div class="item-search" *ngIf="arrow" [@changeDivSize]>
  <div class="item-input">
    <input id="input-search-drop-down" type="text" placeholder="Search">
    <div class="items-icons">
      <i class="crm-times-circle"></i>
      <i class="crm-search" ></i>
    </div>
  </div>
  <!-- <select multiple>
    <option selected>Choose...</option>
    <option *ngFor="let item of list" value="item">{{item.name}}</option>
  </select> -->
  <ul class="item-list">
    <li *ngFor="let item of list">
      <input type="checkbox" [id]="item.name" [value]="item.name">
      <label [for]="item.name">{{ item.name }}</label>
    </li>
  </ul>
  <p>Selecione uma ou mais opções</p>
</div>
